@import '/src/styles.scss';

.about-me-component {
    width: 100%;
    padding-top: 11vh;
    padding-bottom: 10vh;
    display: block;
    position: relative;
}

.background {
    position: absolute;
    right: 0;
    top: 0;
    height: 90vh;
    z-index: 100;
    opacity: 0.2;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}

.name,
.hero-title,
.hero-subtitle {
    position: relative;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
    z-index: 1000;
    transition: top 0.5s ease, opacity 0.5s ease;
}

.name {
    text-transform: uppercase;
    letter-spacing: 1vw;
    font-size: 0.959vw;
    margin-bottom: 2rem;
}

.hero-title {
    margin-bottom: 2rem;
    font-size: 5.116vw;
}

.hero-subtitle {
    font-size: 1.279vw;
    margin-bottom: 2rem;
}

.about-me {
    position: relative;
    width: 40%;
    margin: 30rem auto 0rem auto;
    z-index: 1000;
    opacity: 0;
}

.about-me h1 {
    margin-bottom: 4rem; 
}

.about-me p {
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1.279vw;
    line-height: 1.7vw;
    word-wrap: break-word;
}

.neon-mist1 {
    position: absolute;
    top: 0;
    left: 30%;
    z-index: 0;
    width: 23.661vw;
    height: 19.265vw;
}

.neon-mist2 {
    position: absolute;
    left: 0;
    top: 150vh;
}