<div class="about-me-component">
    <img src="assets/about-me/background.png" class="background" alt="background">
    <div class="name">
        山田太郎
    </div>
    <div class="hero-title">
        シームレスな <br/>
        相互作用の<br/> 
        解除
    </div>
    <div class="hero-subtitle">
        私と一緒にあなたのデザインの旅を高めましょう。
    </div>

    <div class="buttons">
        <app-button text="履歴書をダウンロード" [form]="buttonForm.CLEAR" title="download CV"></app-button>
        <app-button text="話しましょう" [form]="buttonForm.PRIMARY" title="Let's talk"></app-button>
    </div>

    <div class="about-me" id="about-me" #elementToAnimate>
        <h1 class="header">私について</h1>
        <p>
            私は経験豊富なシニアUI/UXデザイナーで、シームレスで魅力的なデジタル体験を作り上げることに情熱を注いでいます。業界経験8年以上を持ち、美学と機能のギャップを埋め、印象に残るユーザーセントリックなデザインを生み出すスキルを磨きました。私の道のりは進化の過程であり、視覚との間に真の架け橋となるスキルを磨く過程でした。
        </p>
    </div>

    <img src="assets/about-me/orange-glow1.png" class="neon-mist1" alt="."/>
    <img src="assets/about-me/orange-glow2.png" class="neon-mist2" alt="."/>
</div>