/* Mobile Devices */
@media only screen and 
(min-width: 320px) and 
(max-width: 480px){

    .name {
        font-size: 4vw;
    }
 
    .hero-title {
        font-size: 15vw;
        padding: 0 1rem;
        box-sizing: border-box;
    }

    .hero-subtitle {
        font-size: 5vw;
        padding: 0 1rem;
        box-sizing: border-box;
    }

    .about-me {
        width: 90%;
        margin-top: 16rem;
    }

    .about-me p {
        font-size: 5vw;
        line-height: 6vw;
    }

    .neon-mist1 {
        width: 50%;
        height: auto;
        left: 5%;
        top: 60px;
    }

    .neon-mist2 {
        width: 40%;
    }

    .background {
        width: 100%;
        height: auto;
    }

    .buttons {
        flex-direction: column;
        text-align: center;
    }

    .about-me-component {
        padding-bottom: 1rem;
    }

}