<div class="my-works-component" id="portfolio">
    <div class="my-works">
        <h1 class="header">私の仕事</h1>

        <carousel [(activeSlide)]="activeSlideIndex" [isAnimated]="true">
            <slide *ngFor="let work of works; let index=index">
              <img [src]="work.getImgPath()" alt="{{work.description}}" class="img">
           
              <div class="carousel-caption">
                <h4 class="carousel-title">{{ work.title }}</h4>
                <p class="carousel-subtitle">{{ work.description }}</p>
              </div>
            </slide>
          </carousel>
          <br/>
    </div>
</div>