/* Mobile Devices */
@media only screen and 
(min-width: 320px) and 
(max-width: 480px){

    .my-works {
        width: 90%;
    }

    .carousel-title {
        font-size: 5vw;
        line-height: 5vw;
    }

    .carousel-subtitle {
        font-size: 4vw;
        line-height: 3vw;
    }

}