@import '/src/styles.scss';

.my-works-component {
    padding-bottom: 10vh;
}

.my-works {
    width: 40%;
    margin: 10rem auto 0rem auto;
}

.header {
    margin-bottom: 4rem;
}

.carousel-title {
    color: #FFFFFF;
    font-size: 1.918vw;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 2vw;
    word-wrap: break-word;
    text-shadow: 1px 1px $background-color;
}

.carousel-subtitle {
    color: #FFFFFF;
    font-size: 0.959vw;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 1vw;
    word-wrap: break-word;
    text-shadow: 1px 1px $background-color;
}

.img {
    display: block; 
    width: 100%;
    height: 60vh;
    object-fit: cover;
}