@import '/src/styles.scss';

.clear,
.primary {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    padding: 1.5rem;
    border-radius: 5rem;
    text-transform: uppercase;
}

.clear {
    border: solid $accent-color 2px;
    background: none;
    color: $accent-color;   
}

.primary {
    border: solid $accent-color 2px;
    background: $accent-color;
    color: $background-color;
}

.primary:hover {
    border: solid $accent-color 2px;
    background: none;
    color: $accent-color;  
    transition: all 500ms;
}

.clear:hover {
    border: solid $accent-color 2px;
    background: $accent-color;
    color: $background-color;
    transition: all 500ms;
}