<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="flex-item">
            <a class="navbar-brand" routerLink="/">
                <img src="assets/navbar/brand.svg" alt="john doe" />
            </a>
        </div>
        <div>
            <button class="navbar-toggler" type="button"
            (click)="isCollapsed = !isCollapsed"
            [attr.aria-expanded]="!isCollapsed"
            aria-controls="collapseBasic"
            data-bs-toggle="collapse" 
            data-bs-target="#navbarSupportedContent" 
            aria-controls="navbarSupportedContent" 
            aria-expanded="false" 
            aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
           </button>   
        </div>
        <div class="collapse navbar-collapse" id="main-nav navbarSupportedContent collapseBasic" [collapse]="isCollapsed" [isAnimated]="true">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link app-link" href="#about-me"  aria-current="page" title="about me">プロフィール</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link app-link" href="#portfolio">ポートフォリオ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link app-link" href="#contact">お問い合わせ</a>
                </li>
            </ul>
        </div>
    </div>
</nav>