@import '/src/styles.scss';

.nav-item a {
    color: #FFFFFF;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
}

.navbar-brand img {
    height: 2rem;
}

.navbar {
    background-color: $background-color !important;
    width: 70%;
    margin: 0 auto;
    padding-top: 5rem;
}

.collapse {
    flex-grow: 0 !important;
}

.flex-item {
    flex-grow: 1;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

.nav-link {
    padding-left: 20px !important;
    padding-right: 20px !important;
}

@media only screen and 
(min-width: 320px) and 
(max-width: 480px) {

    .navbar-brand img {
        height: 1rem;
    }

    .navbar {
        background-color: #212529;
        width: 100%;
        padding-top: 0.5rem;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .nav-link {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
}