/* Mobile Devices */
@media only screen and 
(min-width: 320px) and 
(max-width: 480px){

    .work-experience-wrapper {
        width: 90%;
    }

    .work-experience {
        gap: 1rem;
    }

    .year-header {
        grid-column: 1 / span 2;
    }

    .year-header h1 {
        text-align: left;
    }

    .work-experience .year {
        font-size: 5vw;
        line-height: 5vw;
    }

    .work-experience  .position {
        font-size: 5vw;
        line-height: 5.5vw;
    }

    .work-experience .company {
        font-size: 4vw;
        line-height: 4vw;
    }

    .work-experience-component {
        padding-bottom: 1rem;
    }
}