<div class="work-experience-component">
    <div class="work-experience-wrapper">
        
        <div class="work-experiences" #elementToAnimate>
            <div class="work-experience">
                <div class="year year-header">
                    <h1 class="header">職務経歴</h1>
                </div>
            </div>

            <div class="work-experience" *ngFor="let exp of workExperiences">
                <div class="year">
                    {{ exp.getYear() }}
                </div>
                <div class="job-description">
                    <div class="position">
                        {{ exp.position }}
                    </div>
                    <div class="company">
                        {{ exp.company }}
                    </div>
                </div>
            </div>    
        </div>

    </div>
</div>