.work-experience-component {
    width: 100%;
    padding-bottom: 10vh;
}

.work-experience-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: right;
    width: 40%;
    margin: 0 auto;
}

.header {
    margin-bottom: 4rem;
}

.work-experiences {
    width: 100%;
    opacity: 0;
}

.work-experience {
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 2fr;

    .position {
        font-weight: 600;
        text-transform: uppercase;
        font-size: 1.918vw;
        word-wrap: break-word;
        line-height: 2vw;
        margin-bottom: 1rem;
        margin-top: 3rem;
    }

    .company {
        font-size: 0.959vw;
        font-weight: 400;
        line-height: 1vw;
        word-wrap: break-word;
        text-transform: capitalize;
    }

    .year {
        margin-top: 3rem;
        color: white;
        font-size: 1.918vw;
        font-weight: 600;
        text-transform: uppercase;
        line-height: 2vw;
        word-wrap: break-word;
        text-align: right;
    }
}
