/* Mobile Devices */
@media only screen and 
(min-width: 320px) and 
(max-width: 480px){

    .socials a {
        font-size: 5vw;
    }

    .socials {
        justify-content: center;
    }

    .contact-detail {
        text-align: center;
    }

    .contact-details {
        margin-top: 2rem;
        gap: 0rem;
    }

    .contact-detail .label,
    .contact-detail .value,
    .contact-detail .value a {
        font-size: 3vw;
        line-height: 3.5vw;
    }

    .neon-mist {
        width: 100%;
        height: auto;
    }

    footer {
        width: 90%;
        display: flex;
        flex-direction: column;
    }

    .contact-details {
        flex-direction: column;
    }

    .copyright {
        font-size: 3vw;
        line-height: 3vw;
        text-align: center;
    }

}