.footer-component {
    padding-bottom: 10vh;
    position: relative;
    display: block;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer,
.copyright {
    width: 70%;
    margin: 0 auto;
}

.copyright {
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    font-size: 0.639vw;
    margin-top: 3vh;
}

.socials {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 1rem;
}

.socials a {
    color: #FFFFFF;
    font-size: 0.639vw;
}

.contact-details {
    display: flex;
    flex-direction: row;
    gap: 3vw;
}

.contact-detail .label {
    color: #FFFFFF;
    font-size: 0.639vw;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 1vw;
    word-wrap: break-word;
    text-align: center;
    margin-bottom: 4rem;
    opacity: 0.5;
    text-transform: uppercase;
    margin-right: 1rem;
}

.contact-detail .value,
.contact-detail .value a {
    color: #FFFFFF;
    font-size: 0.639vw;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 1vw;
    word-wrap: break-word;
    text-align: center;
    margin-bottom: 4rem;
    text-decoration: none;
}

.neon-mist {
    position: absolute;
    bottom: 0;
    left: 0;
}