<div class="footer-component">
    <footer>
        <div class="socials">
            <a target="_blank" class="app-link" href="https://dribbble.com/" title="dribble">
                <ng-icon name="bootstrapDribbble"></ng-icon>
            </a>
            <a target="_blank" class="app-link" href="https://www.behance.net/" title="behance">
                <ng-icon name="bootstrapBehance"></ng-icon>
            </a>
            <a target="_blank" class="app-link" href="https://www.instagram.com/" title="instagram">
                <ng-icon name="bootstrapInstagram"></ng-icon>
            </a>
            <a target="_blank" class="app-link" href="https://www.linkedin.com/" title="linkedin">
                <ng-icon name="bootstrapLinkedin"></ng-icon>
            </a>
        </div>
        <div class="contact-details">
            <div class="contact-detail">
                <span class="label">Email</span>
                <span class="value">
                    <a target="_blank" class="app-link" href="mailto:{{ emailAddress }}">{{ emailAddress }}</a>
                </span>
            </div>
            <div class="contact-detail" [popover]="'コピー'" triggers="mouseenter:mouseleave">
                <span class="label">Phone</span>
                <span class="value app-link" ngxClipboard [cbContent]="phoneNumber">{{ phoneNumber }}</span>
            </div>
        </div>
    </footer>
    <div class="copyright">
        © {{ currentYear }} All rights Reserved.
    </div>

    <img src="assets/footer/orange-glow1.png" alt="." class="neon-mist"/>
</div>