/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "./node_modules/bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";

$background-color: #1b1b1b;
$accent-color: #ee6c4d;
$error-color: #58151c;

.header {
    color: $accent-color;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 0.959vw;
    font-size: 0.959vw;
    letter-spacing: 10px;
}

.app-link:hover {
    color: $accent-color !important;
    transition: color 300ms;
    cursor: pointer;
}

.slide-down {
    top: -10vh;
    animation: slideDown ease .4s forwards .6s;
}

@keyframes slideDown {
    0% {
        opacity: 0;
        transform: translateY(-10vh);
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@media only screen and 
(min-width: 320px) and 
(max-width: 480px){
    .header {
        font-size: 5vw;
        line-height: 5.2vw;
    }
}