/* Mobile Devices */
@media only screen and 
(min-width: 320px) and 
(max-width: 480px){

    .wrapper {
        width: 90%;
        padding: 0rem;
    }

    .input-box {
        font-size: 4vw;
    }

    .field-error {
        font-size: 3vw;
    }

    .form form .name {
        flex-direction: column;
    }

    .notice {
        font-size: 4vw;
    }

    .contact-me-component {
        padding-bottom: 5rem;
    }

}