@import '/src/styles.scss';

.contact-me-component {
    padding-bottom: 10vh;
}

.wrapper {
    width: 40%;
    margin: 0 auto;
    padding: 10rem 0rem;
}

.header {
    text-align: center;
    margin-bottom: 3rem;
}

.notice {
    color: #FFFFFF;
    font-size: 0.639vw;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    line-height: 1vw;
    word-wrap: break-word;
    text-align: center;
    margin-bottom: 4rem;
}

.input-box {
    background-color: $background-color;
    color: #FFFFFF;
    font-size: 0.639vw;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    line-height: 1vw;
    border-radius: 4px;
    border: 1px solid #FFFFFF;
    padding: 20px;
}

.input-box::placeholder {
    text-transform: uppercase;
}

.form form {
    display: flex;
    flex-direction: column;
}

.form form .name {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.form form .name div {
    width: 100%;
}

textarea:focus, 
input:focus{
    outline: none;
}

.form form .email,
.form form .name,
.form form .message {
    margin-bottom: 1rem;
}

.form form .email input,
.form form .name input,
.form form .message textarea {
    width: 100%;
}

.form form .message textarea {
    height: 20vh;
}

.submit-button {
    text-align: center;
    margin-top: 1rem;   
}

.field-error {
    margin-top: 5px;
    color: $error-color;
    font-size: 0.5vw;
}

.invalid-input {
    border: 2px solid $error-color;
}

.m-t-0 {
    margin-top: 0;
}