<div class="contact-me-component">
    <div class="wrapper" id="contact">
        <h1 class="header">お問い合わせ</h1>
        <p class="notice">全てのフィールドは必須です。</p>
    
        <alert type="success" [dismissible]="true" *ngIf="successMessage" (onClose)="clearSuccessMessage()" >
            {{ successMessage }}
        </alert>
        <alert type="danger" [dismissible]="true" *ngIf="errorMessage" (onClose)="clearErrorMessage()">
            {{ errorMessage }}
        </alert>

        <div class="form" >
            <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
                <div class="name">
                    <div class="first-name-field">
                        <input type="text" required class="input-box" [ngClass]="{'invalid-input': isFieldInvalid('firstName') }" placeholder="ファーストネーム" formControlName="firstName"/>
                        <div class="field-error" *ngIf="isFieldInvalid('firstName')">
                            <span *ngIf="contactForm.controls['firstName'].errors?.['required']">名前（ファーストネーム）は必須です。</span>
                        </div>
                    </div>

                    <div class="last-name-field">
                        <input type="text" required class="input-box" [ngClass]="{'invalid-input': isFieldInvalid('lastName') }" placeholder="苗字" formControlName="lastName"/>
                        <div class="field-error" *ngIf="isFieldInvalid('lastName')">
                            <span *ngIf="contactForm.controls['lastName'].errors?.['required']">姓（ラストネーム）は必須です。</span>
                        </div>                           
                    </div>
                </div>
                <div class="email">
                    <input type="email" required class="input-box" [ngClass]="{'invalid-input': isFieldInvalid('email') }" placeholder="電子メールアドレス" formControlName="email"/>
                    <div class="field-error" *ngIf="isFieldInvalid('email')">
                        <span *ngIf="contactForm.controls['email'].errors?.['required']">メールアドレスは必須です。</span>
                        <span *ngIf="contactForm.controls['email'].errors?.['email']">メールアドレスは有効なものでなければなりません。</span>
                    </div>
                </div>
                <div class="message">
                    <textarea required class="input-box" [ngClass]="{'invalid-input': isFieldInvalid('message') }" placeholder="メッセージ" formControlName="message"></textarea>
                    <div class="field-error m-t-0" *ngIf="isFieldInvalid('message')">
                        <span *ngIf="contactForm.controls['message'].errors?.['required']">メッセージは必須です。</span>
                    </div>
                </div>
                <app-button [isDisabled]="isLoading" class="submit-button" type="submit" [form]="buttonForm.PRIMARY" [text]="contactButtonText"></app-button>
            </form>
        </div>
    </div>
</div>